<template name="articleItem">
  <div class="article">
    <div style="float:left">
      <div>
        <a href="#" class="upvote btn btn-default {{upvotedClass}}">^</a>
      </div>
      <div>
        <a href="#" class="downvote btn btn-default {{downvotedClass}}">v</a>
      </div>
    </div>
    <div class="article-content">
      <h3><a href="{{pathFor 'articlePage'}}">{{title}}</a><span>{{domain}}</span></h3> 
      <p>{{pluralize upvotes "uppröst" "uppröster"}}, {{pluralize downvotes "nedröst" "nedröster"}}, Submitted by {{author}}, {{formatDate submitted "YYYY-MM-DD"}}
        <a href="{{pathFor 'articlePage'}}">{{pluralize commentsCount "kommentar" "kommentarer"}}</a>
        {{#if ownPost}}<a href="{{pathFor 'articleEdit'}}">Edit</a>{{/if}}
      </p>
    </div>
    <a href="{{pathFor 'articlePage'}}" class="discuss btn btn-default">Discuss</a>
  </div>
</template>
