<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}">OpenLaw</a>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">

          <li class="{{activeRouteClass 'home' 'hotArticles'}}">
            <a href="{{pathFor 'hotArticles'}}">Hot</a>
          </li>

          <li class="{{activeRouteClass  'controversialArticles'}}">
            <a href="{{pathFor 'controversialArticles'}}">Controversial</a>
          </li>

          <li class="{{activeRouteClass 'newArticles'}}">
            <a href="{{pathFor 'newArticles'}}">New</a>
          </li>

          <li class="{{activeRouteClass  'unpopularArticles'}}">
            <a href="{{pathFor 'unpopularArticles'}}">Unpopular</a>
          </li>

          <li class="{{activeRouteClass  'popularArticles'}}">
            <a href="{{pathFor 'popularArticles'}}">Popular</a>
          </li>

          {{#if currentUser}}
            <li>
              <a href="{{pathFor 'articleSubmit'}}">Submit</a>
            </li>
            <li class="dropdown">
              {{> notifications}}
            </li>
          {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="{{activeRouteClass  'profilePage'}}">
            <a href="{{pathFor 'profilePage'}}">Profile</a>
          </li>
          {{> loginButtons}}
        </ul>
      </div>
    </div>
  </nav>
</template>
